body {
  margin: 0; }

#waveform-wrapper {
  width: 450px;
  position: relative;
  height: 80px;
  margin: 1.8rem auto 0.6rem auto; }
  #waveform-wrapper #playbar {
    width: 100%;
    height: 80px;
    background-color: #fff;
    opacity: .4;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    will-change: transform; }
  #waveform-wrapper #waveform {
    width: 450px;
    height: 80px; }

#cover {
  max-width: 256px;
  margin: 0 auto;
  display: block; }

#media-description {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 256px;
  margin: 2rem auto 0; }
  #media-description #tite {
    font-size: 1.2rem; }

#main-header {
  background-color: #565656;
  color: #fafafa;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem; }
  #main-header #station-name::before {
    content: "Current station: ";
    padding-right: .5rem; }
