body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.panel {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.panel .left {
  width: 450px;
  height: 100%;
  position: relative;
  z-index: 1;
}

.panel .right {
  position: relative;
  flex: 1;
  height: 100%;
  background-color: #000;
}

.panel .background {
  opacity: .5;
  filter: blur(50px);
}

#chat {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  color: white;
}

#messages {
  flex:1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.message {
  display: flex;
  flex-flow: row nowrap;
}

.message p {
  margin: 0;
  padding-left: .5rem;
  font-weight: 300;
}

.message-sender {
  display: flex;
}

#message {
  flex: 1;
}

.background {
  position: absolute;
  z-index: 0;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  filter: blur(25px);
  opacity: .7;
  background-size: 100% 100%;
}

#player {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

#player main {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  position: relative;
  z-index: 1;
}

#cover {
  max-width: 256px;
  display: block;
  margin: 2rem auto;
}

#media-description {
  flex: 1;
  text-align: center;
}

#media-description span {
  display:block
}

#media-description #title {
  font-size: 1.4rem;
}
